body {
	background: url('../images/background.jpg') no-repeat;
	background-size: cover;
	color: white;
}

.panel_sup {
	padding: 15px;
    background: rgba(25, 25, 25, .5);
}

.logo {
	height: 60px;
	width: 100px;
}

.title_name {
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
}

.title_surname {
	font-weight: bold;
	font-size: 30px;
}

.subtitle {
	font-size: 12px;
	text-align: right;
}

.panel_sup_der {
	float: right;
	padding-top: 10px;
}

.menu li {display: inline-block;}

.menu li a {
	color: white;
	font-size: 15px;
	text-decoration: none;
	padding: 15px;
	display: block;

	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover, .menu li:hover > a{
	background-color: rgba(0,0,0,0.5);
}

.menu ol, ul {
    margin: 0px;
    margin: 0px;
}

.page {
	padding-top: 30px;
	font-family: Verdana, Arial;
}

.title-desc {
	padding-bottom: 20px;
}

.description {
	font-size: 17px;
	padding-top: 20px;
}

.image {
	height: 200px;
	width: 200px;
}

.icons {
	text-align: right;
}

.icon {
	height: 45px;
	width: 45px;
	padding-bottom: 5px;
}

.transparent-input {
   background-color: rgba(0,0,0,0);
   color: white;
   margin-bottom: 5px;
}

.transparent-btn {
	background-color: rgba(0,0,0,0);
	color: white;
}
