html {
  font-family: 'Montserrat', sans-serif;
}

html, body { 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hidden-content {
  display: none;
}

/* HEADER */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.header {
  font-family: 'Anonymous Pro', monospace;  
  background-color: #28152f; 
  color: rgba(255,255,255,.75);
  height: 100vh;
}

.header .console-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header .anim-typewriter {
  font-size: 35px;
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(48, end) 1s 1 normal both,
             blinkTextCursor 500ms steps(48) infinite normal;
}

@keyframes typewriter{
  from{ width: 0; }
  to{ width: 28em; }
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.header .show-more {
    /* center */
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 10%;
    /* effect */
    -webkit-animation: fadeInOut 6s;
    animation: fadeInOut 6s;
}

.header .show-more a {
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  color: white;
  border: 1px solid white;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}


/* FIN HEADER */

nav {
  background: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #1cd4da;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 10px;
  width: 20%;
}

nav ul li a {
  color: #fff;
  line-height: 37px;
}

nav ul .section:hover {
  background: #8f8f8f;
  cursor: pointer;
  border-radius: 5px;
}

nav img { 
  width: 40px;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  nav {
    padding-top: 1px;
    padding-bottom: 0;
    position: fixed;
    top: 0vh;
    width: 100%;
  }

  nav ul{
    display: flex;
    margin-right: 30px;
  }

  nav ul li {
    flex: 1;
    padding: 0;
  }

  nav ul .logo {
    flex: 5;
  }

  nav ul .section {
    text-align: center;
  }

  nav ul .section a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

.full-page {
  min-height: 100vh;
  background: white;
  padding-top: 70px;
}

#content {
  padding-left: 15px;
  padding-right: 15px;
}

#content h1#section-title {
  width: 10%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  border-bottom: 1px solid;
  margin-bottom: 100px;
}

.padding-left-20 {
  margin-left: 15%;
  margin-right: 8%;
}

img.profile {
  width: 330px !important;
  border-radius: 20px;
  display: inline-block;
}

div #profile-about{
  display: inline-block;
  margin-left: 50px;
  vertical-align: top;
  width: 60%;
}

.star {
  color: rgb(221, 218, 30);
  font-size: 20px;
}

#reference div span {
  display: inline-block;
  width: 100px;
}

#habilities {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#habilities div {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 130px;
}

#habilities img {
  width: 60px;
  height: 60px;
}

#habilities span {
  margin-top: 10px;
}
