html {
  font-family: 'Montserrat', sans-serif;
}

html, body { 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hidden-content {
  display: none;
}

/* HEADER */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.header {
  font-family: 'Anonymous Pro', monospace;  
  background-color: #28152f; 
  color: rgba(255,255,255,.75);
  height: 100vh;
}

.header .console-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header .anim-typewriter {
  font-size: 35px;
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(48, end) 1s 1 normal both,
             blinkTextCursor 500ms steps(48) infinite normal;
}

@keyframes typewriter{
  from{ width: 0; }
  to{ width: 28em; }
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.header .show-more {
    /* center */
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 10%;
    /* effect */
    -webkit-animation: fadeInOut 6s;
    animation: fadeInOut 6s;
}

.header .show-more a {
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  color: white;
  border: 1px solid white;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

/* FIN HEADER */

@media screen and (min-width: 800px) {
  .hamburguer-menu { display: none; }

  nav {
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #1cd4da;
  }

  nav ul {
    list-style: none;
  }

  nav ul li {
    padding: 10px;
    width: 20%;
  }

  nav ul li a {
    color: #fff;
    line-height: 37px;
  }

  nav ul .section:hover {
    background: #8f8f8f;
    cursor: pointer;
    border-radius: 5px;
  }

  nav img { 
    width: 40px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 799px) {
  nav { display: none; }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  label.hamburguer-menu .menu {
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 180px;
    height: 180px;
    background: #cecece;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
            box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  label.hamburguer-menu .hamburger {
    position: absolute;
    top: 135px;
    left: 30px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  label.hamburguer-menu .hamburger:after, label.hamburguer-menu .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
  }
  label.hamburguer-menu .hamburger:before {
    top: -10px;
  }
  label.hamburguer-menu .hamburger:after {
    bottom: -10px;
  }
  label.hamburguer-menu input {
    display: none;
  }
  label.hamburguer-menu input:checked + .menu {
    -webkit-box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
            box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
  }
  label.hamburguer-menu input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  label.hamburguer-menu input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    bottom: 0;
  }
  label.hamburguer-menu input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  label.hamburguer-menu input:checked + .menu + ul {
    opacity: 1;
  }
  label.hamburguer-menu ul {
    font-size: 25px;
    list-style: none;
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 48%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
  }

  label.hamburguer-menu a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}

.full-page {
  min-height: 100vh;
  background: white;
  padding-top: 70px;
}

#content {
  padding-left: 15px;
  padding-right: 15px;
}

#content h1#section-title {
  width: 190px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  border-bottom: 1px solid;
  margin-bottom: 100px;
}

.padding-left-20 {
  margin-left: 15%;
  margin-right: 8%;
}

img.profile {
  width: 330px;
  border-radius: 20px;
  display: inline-block;
}

div #profile-about{
  display: inline-block;
  margin-left: 50px;
  vertical-align: top;
  width: 60%;
}

.star {
  color: rgb(221, 218, 30);
  font-size: 20px;
}

#reference div span {
  display: inline-block;
  width: 100px;
}

#habilities {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#habilities div {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 130px;
}

#habilities img {
  width: 60px;
  height: 60px;
}

#habilities span {
  margin-top: 10px;
}


/* Settings for small screens */
@media screen and (max-width: 450px) {
  img.profile {
    width: 190px;
  }

  div #profile-about{
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .padding-left-20 {
    margin-right: 3%;
  }

  #habilities div {
    flex-basis: 110px;
  }
}

@media screen and (max-width: 1200px) {
  img.profile {
    width: 190px;
  }
}

@media screen and (max-width: 770px) {
  #about img.profile {
    margin-left: 10%;
  }
}
