body {
  background: url('../images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.navbar {
  padding-bottom: 15px;
  background: rgba(25, 25, 25, 0.8);
}

.navbar-toggle { float: left; }
.navbar-right { padding-top: 15px; }

.logo {
  height: 60px;
  width: 70px;
}

.titles { padding-top: 10px; }

.first_name {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}

.last_name {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.title_name {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
}

.title_lastname {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-left: 5px;
}

.subtitle {
  font-size: 12px;
  text-align: right;
}

.panel_sup_der {
  float: right;
  padding-top: 10px;
}

.menu li {display: inline-block;}

.menu li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  display: block;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.menu li a:hover, .menu li:hover > a{
  background-color: rgba(0,0,0,0.5);
  border-bottom: 1px solid #FFF;
}

.menu ol, ul {
  margin: 0px;
  margin: 0px;
}

.button {
  font-family: 'Quicksand', sans-serif;
  border: 1px solid #FFF;
  color: white;
  font-size: 25px;
  padding: 0.2em 2em;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  display: inline-block;
  margin-top: 75px;
  transition: background-color .3s;
}

.button:hover, .button:focus {
  background-color: white;
  color: black;
  text-decoration: none;
}

.init {
  text-align: center;
  padding-top: 60px;
  font-family: Verdana, Arial;
}

.page {
  margin-top: 100px;
  padding-top: 30px;
  font-family: Verdana, Arial;
}

div#index { height: 100vh; }
div#about { height: 100vh; }
div#contact { height: 100vh; }

.title-desc { padding-bottom: 20px; }
  
.description {
  font-size: 17px;
  padding-top: 20px;
}

#back-top img {
  position: fixed;
  bottom: 80px;
  right: 5px;
  height: 60px;
  width: 60px;
}

#back-top :hover img {
  border-radius: 100px;
  background-color: rgba(0,0,0,0.5);
  transition: 0.5s ease;
}

.image {
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 15px;
}

.image2 {
  border-radius: 25px;
  float: left;
  height: 280px;
  width: 220px;
  margin-right: 15px;
}

.icons { text-align: right; }

.icon {
  height: 45px;
  width: 45px;
  padding-bottom: 5px;
}

.transparent-input {
  background-color: rgba(0,0,0,0.1);
  color: white;
  margin-bottom: 5px;
}

.transparent-btn {
  background-color: rgba(0,0,0,0);
  color: white;
}

footer { padding-bottom: 20px; }
