html, body { 
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.center {
  margin: 0 auto;
  width: 50%;
}

/* HEADER */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.header {
  font-family: 'Anonymous Pro', monospace;  
  background-color: #28152f; 
  color: rgba(255,255,255,.75);
  height: 100vh;
}

.header .anim-typewriter {
  margin-top: 10%;
  font-size: 35px;
  display: inline-block;
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(48, end) 1s 1 normal both,
             blinkTextCursor 500ms steps(48) infinite normal;
}

@keyframes typewriter{
  from{ width: 0; }
  to{ width: 28em; }
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.header .show-more {
    /* center */
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 10%;
    /* effect */
    -webkit-animation: fadeInOut 6s;
    animation: fadeInOut 6s;
}

.header .show-more a {
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  color: white;
  border: 1px solid white;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}


/* FIN HEADER */

.navbar {
  background: black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1.5px solid #1cd4da;
  position: fixed;
  top: 0px;
}

.navbar ul {
  margin-left: 20%;
  display: inline;
}

.navbar ul li { 
  list-style-type: none;
  display: inline-block;
}

.navbar img { 
  width: 40px;
  vertical-align: middle;
}

.navbar a {
  padding: 25px;
  color: white;
}

.navbar a:hover { 
  color: rgb(0, 238, 255);
  transition: .5s ease;
}
.navbar a.active { color: rgb(0, 238, 255); } /* TODO: set active via JS */

.full-page {
  height: 100vh;
  background: white;
  padding-top: 70px;
}

#content {
  padding-left: 15px;
  padding-right: 15px;
}

#content h1#section-title {
  width: 10%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  border-bottom: 1px solid;
  margin-bottom: 100px;
}

.padding-left-20 {
  margin-left: 20%;
}

img.profile {
  width: 330px !important;
  border-radius: 20px;
  display: inline-block;
}

div #profile-about{
  display: inline-block;
  margin-left: 50px;
  vertical-align: top;
}