a {
  text-decoration: none;
}

p {
  letter-spacing: 0.075em;
}

.hidden-content {
  display: none;
  visibility: hidden;
}

.custom-hr {
  width: 70px;
  height: 4px;
  background: #444649;
  text-align: center;
  margin: 0 auto;
}

span, p {
  font-size: 16px;
}

header {
  font-family: 'Anonymous Pro', monospace;
  position: fixed;
  height: 100vh;
  top: 0;
  color: white;
}

header #header-img {
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: fixed;
  filter: blur(0.5px) brightness(45%);
  background-image: url('../images/header-wallpaper.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header #name {
  margin-bottom: 20px;
}

header #header-text {
  z-index: 2;
  margin-top: 5%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

header #header-text h1 {
  font-size: 50px;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
}

header .console-text {
  margin-top: 100px;
}

header .console-text span {
  font-weight: 100;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  header #header-text h1 {
    font-size: 30px;
  }

  header .console-text span {
    font-size: 25px;
  }
}

header .show-more {
  z-index: 2;
  text-align: center;
  margin-top: 50%;
  animation: fadeInOut 1.5s linear;
}

header .show-more a {
  font-size: 20px;
  padding: 10px;
  color: white;
  border: 1px solid white;
}

header .show-more a:hover {
  color: white;
  border-color: #59d1ff;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .hamburguer-menu { display: none; }

  .navbar-wraper {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 9999;
  }

  nav {
    background: #00103c;
    border-bottom: 3px solid #1cd4da;
    height: 60px;
  }

  nav .logo {
    padding: 10px;
  }

  nav ul {
    list-style: none;
    float: right;
    margin-top: 5px;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul .section {
    padding: 12px 15px 2px 15px;
  }

  nav ul .section:hover {
    border-bottom: 2px solid #1ab9e4;
    transition: all 500ms ease;
    cursor: pointer;
  }

  nav ul li a {
    font-size: 20px;
    color: #fff;
  }

  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:focus {
    color: #fff;
    text-decoration: none;
  }

  nav img {
    width: 40px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 799px) {
  nav { display: none; }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  label.hamburguer-menu .menu {
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 180px;
    height: 180px;
    background: #cecece;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
            box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  label.hamburguer-menu .menu .hamburger {
    top: 135px;
    left: 35px;
  }
  label.hamburguer-menu input:checked + .menu .hamburger {
    top: 140px;
    left: 30px;
  }
  label.hamburguer-menu .hamburger {
    position: absolute;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  label.hamburguer-menu .hamburger:after, label.hamburguer-menu .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
  }
  label.hamburguer-menu .hamburger:before {
    top: -10px;
  }
  label.hamburguer-menu .hamburger:after {
    bottom: -10px;
  }
  label.hamburguer-menu input {
    display: none;
  }
  label.hamburguer-menu input:checked + .menu {
    -webkit-box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
            box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
  }
  label.hamburguer-menu input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  label.hamburguer-menu input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    bottom: 0;
  }
  label.hamburguer-menu input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  label.hamburguer-menu input:checked + .menu + ul {
    opacity: 1;
  }

  label.hamburguer-menu input:not(:checked) + .menu + ul {
    visibility: hidden;
  }

  label.hamburguer-menu ul {
    font-size: 25px;
    list-style: none;
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 48%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s step-end;
    transition: .25s 0s step-end;
  }

  label.hamburguer-menu a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}

#wrapperContainer {
  font-family: 'Montserrat', Courier, monospace;
  position: relative;
  z-index: 9;
  background-color: white;
  margin-top: 100vh;

}

.full-page {
  min-height: 100vh;
  background: white;
  padding-top: 70px;
}

.pre-full-page {
  min-height: 80vh;
  background: white;
}

.middle-page {
  min-height: 60vh;
  background: white;
  padding-top: 70px;
}

#content .section-title {
  padding-top: 10px;
  margin-bottom: 60px;
}

#content .section-title h1 {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 3px;
}

.top-hr {
  margin-bottom: 20px;
  width: 300px;
  height: 7px;
  background: #1bd095;
  float: left;
}

.bottom-hr {
  width: 300px;
  height: 7px;
  background: #1bd095;
  float: right;
  margin-top: 20px;
}

@media screen and (max-width: 920px) {
  .top-hr {
    float: none;
  }

  .bottom-hr {
    float: none;
  }
}

.section-title .custom-hr {
  margin-bottom: 40px;
}

#content .section-title p {
  color: #777;
  font-size: 18px;
  font-family: sans-serif;
}

/* ABOUT */
img.profile {
  border-radius: 20px;
  display: inline-block;
}

@media screen and (max-width: 765px) {
  img.profile {
    margin-bottom: 60px;
  }
}

div #profile-about{
  margin-top: 10px;
}

#about p {
  color: #4b4b4b;
}

/* FIN ABOUT */


/* SKILLS */

#skills {
  background: #f3f3f3;
}

.star {
  color: rgb(221, 218, 30);
  font-size: 20px;
}

#reference div span.star {
  display: inline-block;
  width: 100px;
}

#habilities {
  margin-top: 40px;
}

#habilities div {
  margin-bottom: 30px;
  text-align: center;
}

#habilities img:hover {
  filter: brightness(120%);
}

#habilities img {
  max-width: 120px;
  height: 110px;
}

@media screen and (max-width: 700px) {
  #habilities img {
    height: 90px;
  }
}

#habilities span {
  margin-top: 10px;
}
/* FIN SKILLS */

/* EXPERIENCE */
#experience a {
  color: white;
}

.exp-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.exp-box img {
  border-radius: 10px;
}

.exp-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.exp-box-caption:hover {
  opacity: 1;
}

.exp-box-caption-content {
  width: 100%;
  position: absolute;
  top: 20%;
}

.exp-inside.exp-show-more {
  width: 100%;
  position: absolute;
  top: 80%;
  font-size: 20px;
}

.exp-inside.exp-show-more a {
  border: 2px solid white;
  padding: 10px;
}

.project-name.text-faded {
  font-size: 25px;
}

.project-tech {
  font-size: 18px;
  color: #ff93ca;
}


/* FIN EXPERIENCE */

/* SERVICES */

@media screen and (min-width: 1000px) {
  #services {
    height: 70vh;
  }
}

#services {
  background-image: url('../images/services/services.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px 0 90px 0;
}

#services .custom-hr {
  background-color: white;
}

#services #services-wrapper {
  color: white;
}

#services .service-info {
  margin-bottom: 40px;
}

#services svg {
  width: 70px;
  fill: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#services svg.light:hover {
  fill: rgb(255, 241, 49);
}

#services svg.frontend:hover {
  fill: rgb(49, 255, 193);
}

#services svg.backend:hover {
  fill: rgb(255, 97, 49);
}

/* FIN SERVICES */

/* BLOG */

@media screen and (max-width: 765px) {
  #blog .container {
    margin-bottom: 80px;
  }

  .blog-description {
    height: 280px !important;
  }
}

#blog {
  background: #f3f3f3;
}

#blog .box {
  padding: 0;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 5px;
}

#blog .box a {
  color: orangered;
}

.blog-description {
  height: 230px;
}

.blog-description h5 {
  margin-top: 30px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 200;
}

#blog .box img {
  border-bottom: 1px solid #9898ff3b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
/* FIN BLOG */

/* CONTACT */
#contact {
  color: white;
  padding-bottom: 50px;
  background-image: url('../images/contact/contact-wallpaper.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#contact form {
  font-family: 'Courier New', Courier, monospace;
}

#contact .section-title {
  margin-top: 30px;
}

#empty-form-alert {
  animation: fadeInOut 1.5s linear;
}

#contact .contact-logo {
  width: 52px;
  height: 50px;
  margin-right: 10px;
}

#contact .contact-logo:hover {
  filter: brightness(140%);
}

#contact .github-svg-logo:hover {
  fill: white;
}

#contact textarea {
  resize: vertical;
}

#contact .custom-hr {
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .social-networks {
    text-align: center;
  }
}

/* FIN CONTACT */

footer {
  background: #16173f;
  color: #fff;
  height: 75px;
  padding: 25px;
  font-size: 17px;
}

.heart-emoji {
  color: red;
  font-size: 20px;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
