body {
	background: url('../images/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}

.panel_sup {
	padding: 15px;
    background: rgba(25, 25, 25, .5);
}

.logo {
	height: 60px;
	width: 100px;
}

.title_name {
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
}

.title_surname {
	margin-left: -10px;
	font-weight: bold;
	font-size: 30px;
}

.subtitle {
	font-size: 12px;
	text-align: right;
}

.panel_sup_der {
	float: right;
	padding-top: 10px;
}

.menu li {display: inline-block;}

.menu li a {
	color: white;
	font-size: 15px;
	text-decoration: none;
	padding: 15px;
	display: block;
 	border-radius: 10px;
	transition: 1.0s ease-in-out;
}

.menu li a:hover, .menu li:hover > a{
	background-color: rgba(0,0,0,0.5);
	border-bottom: 1px solid #FFF;
}

.menu ol, ul {
    margin: 0px;
    margin: 0px;
}

.page {
	padding-top: 30px;
	font-family: Verdana, Arial;
}

.title-desc {
	padding-bottom: 20px;
}

.description {
	font-size: 17px;
	padding-top: 20px;
}

.image {
	float: left;
	height: 200px;
	width: 200px;
	margin-right: 15px;
}

.icons {
	text-align: right;
}

.icon {
	height: 45px;
	width: 45px;
	padding-bottom: 5px;
}

.transparent-input {
   background-color: rgba(0,0,0,0);
   color: white;
   margin-bottom: 5px;
}

.transparent-btn {
	background-color: rgba(0,0,0,0);
	color: white;
}
