a {
  text-decoration: none;
}

.hidden-content {
  display: none;
}

span, p {
  font-size: 16px;
}

.maxx {
  padding-left: 0px;
  padding-right: 0px;
}

/* HEADER */
.header {
  font-family: 'Anonymous Pro', monospace;
  background-color: #28152f;
  color: rgba(255,255,255,.75);
  height: 100vh;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

.header .console-text {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  padding: 30px;
  padding-top: 10%;
}

.header .console-text h1 span {
  font-weight: 100;
  font-size: 30px;
}

.header .show-more {
  position: absolute;
  z-index: 2;
  /* center */
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 10%;
  animation: 1s fadeInOut;
}

.header .show-more a {
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  color: white;
  border: 1px solid white;
}

.header .show-more a:hover {
  background-color: #4f3f5b;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .hamburguer-menu { display: none; }

  .navbar-wraper {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 9999;
  }

  nav {
    background: #00103c;
    border-bottom: 3px solid #1cd4da;
    height: 60px;
  }

  nav .logo {
    padding: 10px;
  }

  nav ul {
    list-style: none;
    float: right;
    margin-top: 5px;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul .section {
    padding: 12px 15px 2px 15px;
  }

  nav ul .section:hover {
    border-bottom: 2px solid #1ab9e4;
    transition: all 500ms ease;
    cursor: pointer;
  }

  nav ul li a {
    font-size: 20px;
    color: #fff;
  }

  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:focus {
    color: #fff;
    text-decoration: none;
  }

  nav img {
    width: 40px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 799px) {
  nav { display: none; }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  label.hamburguer-menu .menu {
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 180px;
    height: 180px;
    background: #cecece;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
            box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  label.hamburguer-menu .menu .hamburger {
    top: 135px;
    left: 35px;
  }
  label.hamburguer-menu input:checked + .menu .hamburger {
    top: 140px;
    left: 30px;
  }
  label.hamburguer-menu .hamburger {
    position: absolute;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  label.hamburguer-menu .hamburger:after, label.hamburguer-menu .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
  }
  label.hamburguer-menu .hamburger:before {
    top: -10px;
  }
  label.hamburguer-menu .hamburger:after {
    bottom: -10px;
  }
  label.hamburguer-menu input {
    display: none;
  }
  label.hamburguer-menu input:checked + .menu {
    -webkit-box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
            box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
  }
  label.hamburguer-menu input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  label.hamburguer-menu input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    bottom: 0;
  }
  label.hamburguer-menu input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  label.hamburguer-menu input:checked + .menu + ul {
    opacity: 1;
  }

  label.hamburguer-menu input:not(:checked) + .menu + ul {
    visibility: hidden;
  }

  label.hamburguer-menu ul {
    font-size: 25px;
    list-style: none;
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 48%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s step-end;
    transition: .25s 0s step-end;
  }

  label.hamburguer-menu a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}

#wrapperContainer {
  font-family: 'Montserrat', Courier, monospace;
  position: relative;
  z-index: 9;
  background-color: white;
  margin-top: 100vh;

}

/*
.fullScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/


.full-page {
  min-height: 100vh;
  background: white;
  margin-top: 70px;
}

.pre-full-page {
  min-height: 80vh;
  background: white;
}

.middle-page {
  min-height: 60vh;
  background: white;
  margin-top: 70px;
}

#content h1#section-title {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  border-bottom: 1px solid;
  margin-bottom: 100px;
}

#particles-js canvas{
  position: absolute;
  z-index: 1;
  opacity: 0.6;
}
/* FIN HEADER */


/* ABOUT */
img.profile {
  border-radius: 20px;
  display: inline-block;
}

div #profile-about{
  margin-top: 10px;
}

.work-process {
  text-align: center;
  font-size: 40px;
  margin-top: 1em;
}

.work-process .icon-container {
  display: inline-block;
  transform: rotate(45deg);
  border: 1px solid #cecece;
  -webkit-transform: rotate(45deg);
  border-radius: 3px;
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin-right: 1em;
}

.work-process i:before {
  transform: rotate(-45deg);
  display: inline-block;
}

.work-process .fa-code {
  color: #00ffcc;
}

.work-process .fa-heart {
  color: red;
}

.work-process .fa-gem {
  color: #71b4ec;
}
/* FIN ABOUT */


/* SKILLS */

#skills {
  background: #f8f8f8;
}

.star {
  color: rgb(221, 218, 30);
  font-size: 20px;
}

#reference div span.star {
  display: inline-block;
  width: 100px;
}

#habilities {
  margin-top: 40px;
}

#habilities div {
  margin-bottom: 30px;
  text-align: center;
}

#habilities img:hover {
  filter: brightness(120%);
}

#habilities img {
  max-width: 120px;
  height: 110px;
}

#habilities span {
  margin-top: 10px;
}
/* FIN SKILLS */

/* EXPERIENCE */
#experience #unpie .exp-card {
  background-image: url("../images/experience/unpieyotropie.jpg");
}

#experience #construcciones .exp-card {
  background-image: url("../images/experience/construccionesrodriguez.png");
}

#experience .exp-card {
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* FIN EXPERIENCE */

/* BLOG */
#blog {
  background: #f8f8f8;
}

#blog .box {
  text-align: center;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  padding-bottom: 5px;
}

#blog .box img {
  border: 1px solid #9898ff3b;
  border-radius: 5px;
  width: 100%;
}
/* FIN ARTICLES */

/* CONTACT */
#contact {
  background-color: #505393;
  color: white;
  padding-bottom: 50px;
}

#contact .container {
  font-family: 'Courier New', Courier, monospace;
}

#empty-form-alert {
  animation: fadeInOut 1.5s linear;
}

.contact-logo {
  width: 50px;
  margin-right: 10px;
}

#contact .social-network {
  margin-bottom: 10px;
}

/* FIN CONTACT */

.no-padding {
  padding: 0 !important;
}

#services .no-padding {
  border: 1px solid white;
}


@keyframes fadeInOut {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
