html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'JetBrains Mono', monospace;
}

body.theme-dark {
    background-color: black;
    color: white;
}

/* Remove black border of inputs on Chrome */
*,
*:focus,
*:hover {
    outline: none;
}

#dumbledore-quote {
    display: none;
    font-style: italic;
    font-size: 15px;
    color: #c3b595;
}

body.theme-dark #dumbledore-quote {
    display: flex;
    animation: fadeIn 1s;
}

body.theme-dark button {
    color: rgb(177, 173, 173);
}

body.theme-dark button.active {
    background-color: #484848;
    color: white;
}

.content {
    padding: 20px;
    margin: 20px auto 27px;
    /* 27px -> footer height */
    max-width: 940px;
}

.page-top {
    display: flex;
    justify-content: space-around;
}

.titles {
    text-align: center;
    align-self: center;
    max-width: 335px;
}

.titles h1 {
    font-size: 35px;
    margin-bottom: 0;
    width: max-content;
}

.titles h3 {
    margin-top: 10px;
    color: gray;
    font-size: 25px;
}

#social-networks {
    max-width: 360px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.main-language {
    color: rgb(245, 84, 111);
}

.content a {
    background-color: rgba(187, 239, 253, 0.3);
    color: #1a1a1a;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body.theme-dark .content a {
    background: none;
    color: #bbeffd;
    text-decoration: underline;
}

.content a:hover {
    background-color: #bbeffd;
}

.image-container img {
    width: 320px;
    height: 320px;
    clip-path: circle();
    object-fit: cover;
    animation: fadeIn 1s;
}

.buttons {
    display: flex;
    justify-content: space-around;
    max-width: 390px;
    margin: 50px auto 20px;
    gap: 10px;
}

.buttons button {
    cursor: pointer;
    border-radius: 9px;
    border: none;
    padding: 5px 10px;
    width: 100px;
    height: 40px;
    background-color: #97979714;
    font-size: 16px;
    color: #4a4a4a;
}

.buttons button.active {
    transform: scale(1.1);
    background: #00000014;
}

.buttons button:hover {
    transition: all 0.3s;
    background: #00000014;
}

.information p {
    line-height: 30px;
    font-size: 18px;
    animation: fadeIn .3s;
}

.heart-emoji {
    color: red;
    font-size: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4e29ff;
    padding: 2px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}

footer p {
    margin: 0;
}

strong {
    font-weight: bold;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.red {
    color: red;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

#blog {
    margin-top: 20px;
    display: flex;
}

#blog .box {
    display: inline-block;
    border: 1px solid #e5e1e1;
    border-radius: 20px;
    height: 450px;
    width: 290px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.blog-description {
    padding: 0 10px;
}

.blog-description h5 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 17px;
}

.information p {
    line-height: 25px;
    font-size: 16px;
}

body.theme-dark .highlighted {
    background-color: yellow;
    color: black;
}

#blog .box img {
    border-bottom: 1px solid #9898ff3b;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 290px;
    height: 250px;
}

#wizard {
    cursor: pointer;
    user-select: none;
}

.sparticles-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /**
     * z-index: -1; this makes the <body> still interactive
     * by placing the sparticles behind the content
     */
    z-index: -1;
}

.found {
    display: none;
}

body.theme-dark .found {
    display: inline-block;
}


/**
* we could a;so use "pointer-events: none;" in
* modern browsers to put the particles on top of all our content
*/
@supports (pointer-events: none) {
    .sparticles-container {
        z-index: 2;
        pointer-events: none;
    }
}

/* Effects */
@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 1;

    }
}

/* end effects */

/* Mobile */
@media screen and (max-width: 650px) {
    #blog {
        flex-direction: column;
        align-items: center;
    }

    #blog .box {
        margin-right: 0;
    }

    .page-top {
        flex-direction: column;
    }

    .page-top .titles {
        text-align: center;
        order: 1;
    }

    .page-top .image-container {
        text-align: center;
        order: 0;
    }
}

/* End mobile */